body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/requirements/login-back.webp');
    /* background-color: rgba(255, 255, 255, 0.1);  */
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('/requirements/login-back.webp');

}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    background: linear-gradient(to top right, #bfe712, #ef0d0dfe); /* Adjust the opacity to make the container more visible */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(83, 52, 52, 0.1);
    opacity: 1;
    z-index: 1000;
}

h2 {
    text-align: center;
}

input[type="text"],
input[type="password"] {
    display: block;
    width: 92%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(203, 196, 196, 0.389);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: rgba(18, 16, 16, 0.5); 
}

button {
    background-color: rgba(28, 30, 31, 0.8); 
    color: #fff;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    width: 100px;
    margin-left: 145px;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    transition: 0.25s;
}

button:hover {
    background-color: rgb(192, 109, 136); 
    transform: scale(1.15);
   
}
img {
    width: 100px;
    height: 100px; 
    margin: 0 auto 20px; 
    display:flex ;
    border-radius: 50%;

}


.name {
    list-style-type: none;
  margin: -58px;
  padding: 12px;
  font-size: 12px;
  font-family: 'Caveat', cursive;
  display: flex;
  justify-content:center;
} 