div {
  font-family: poppins;
}

body {
  background: linear-gradient(to top right, #7feaa6, #f07e9e);
}

.nav_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* ensure it's above other content */
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 5px;
  background: linear-gradient(to top right, #f7df80, #fefea5);
  border: 2px solid rgb(250, 183, 75);
  height: 75px;
}

.logo {
  position: relative;
  left: 100px;
}
.fa-location-dot{
font-size: 35px;
padding-right: 10px;
}

.location {
  display: flex;
  position: relative;
  font-size: 22px;
  left: 150px;
}
.nav_option {
  position: relative;
  left: 400px;
}
.buy{
  font-size: 20px;
  font-weight: 900;
  margin-right: 20px;
  background-color:  rgb(156, 223, 89);
}
.sell{
  font-size: 20px;
  font-weight: 900;
}
.account {
  display: flex;
  position: relative;
  left: 850px;
}

.logo .logoimg {
  height: 80px;
  width: 100px;
  border-radius: 30%;
}

.location b {
  position: relative;
  top: 2px;
}
  button {
    border: 0px;
  }
  .fa-user{
    font-size: 25px;
  }
  .sell:hover {
    font-weight: 900;
    background-color: rgb(156, 223, 89);
  }
  .car-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.car-card {
    width:450px; /* Adjust the width as needed */
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: rgba(219, 84, 17, 0.277);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
}
.car-details{
    padding-left: 20px;
    padding-right: 20px;
}
  .car-image{
    height: 300px;
    width:445px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .car-model {
    max-height: 3em; /* Adjust the maximum height as needed */
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    color: darkblue;
}
.car-specs{
    color: rgb(33, 32, 30);
    font-weight: 600;
}
.car-owner{
    font-size: 19px;
    font-weight: 700;
    color: #370566b1;
}
.car-price{
    position: relative;
    bottom: -10px;
    font-size: 22px;
    font-weight: 900;
    color: rgb(235, 80, 46);
}
button {
    margin-left: 5px;
    border-radius: 20px;
  }
h1{
    margin-left: 30px;
    color: #2a312c;
}
.add-btn{
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 30px;
  border-radius: 10px;
  color: white;
  background-color: peru;
  transition: 0.25s;
  box-shadow: 0px 0px rgb(145, 145, 224);

}
.add-btn:hover,.book-btn:hover,.del-btn:hover{
  transform: scale(1.1);
  box-shadow: 7px 7px 7px rgb(53, 51, 51);
}
.book-btn{
  
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: white;
  background-color: rgb(241, 151, 34);
  transition: 0.25s;
  box-shadow: 0px 0px rgb(145, 145, 224);

}
.fa-user{
  background: none;
}
.del-btn{
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 250px;
  border-radius: 10px;
  color: white;
  background-color: rgb(47, 148, 202);
  transition: 0.25s;
  box-shadow: 0px 0px rgb(145, 145, 224);

}