<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project cars</title>
    <link rel="icon" href="/requirements/newlogo.webp">
    <link rel="stylesheet" href="/CSS_FILES/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
<div>
    <div class = "nav_bar">
        <div class="logo">
            <img class="logoimg"   src="/requirements/newlogo.webp" alt="logo">
        </div>

        <div class="location">
            <i class="fa-solid fa-location-dot"></i> <b>Bangalore</b>
        </div>

        <div class="nav_option">
            <button class="buy"> Buy car</button>
            <button class="sell"> Sell car</button>
        </div>
        <div class="account"> <button class="fa-solid fa-user"></button>
            <b> &nbsp;&nbsp;&nbsp;&nbsp; Account </b>
        </div>
    </div><br><br>
    <div class="middle">
        <img   class="body_img"  src="/requirements/newback.jpg" alt="body">
        <div class="img_text"><h3>Certified cars with </h3>
        <h1>up to 12 - month <br>
        warranty plans</h1>
        <br>
        <div class = "search_bar">
        <span class="material-symbols-outlined search_icon">
            search
            </span>
        <div class="search"> <input type="text" placeholder="           Enter vehicle brand" ></div></div><br> 
        <div class="car_bar">
            <form method="GET" action="/home/suzuki">
                <button class="company"><img class= "a" src="/requirements/suzuki.webp" alt=""></button> 
            </form>
            <form method="GET" action="/home/hyundai">
                <button class = "company"> <img class= "a"src="/requirements/hynudai.webp" alt=""></button>
            </form>
            
            <form method="GET" action="/home/honda">
                <button class = "company"> <img class= "a"src="/requirements/honda.webp" alt=""></button>
            </form>
            <form method="GET" action="/home/renault">
            <button class = "company"> <img class= "a"src="/requirements/renault.webp" alt=""></button>
        </form>
            <form method="GET" action="/home/tata">
                <button class = "company"> <img class= "a"src="/requirements/tata.webp" alt=""></button>
            </form>
           
        </div>
    </div>

</div><br><br><br>
<h1 class="heading">Why buy from us ?</h1>
<div class="why_buy">
        <div class="card" style="width: 18rem;">
            <img src="/requirements/1.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">CARS24 Warranty</h3>
              <p class="card-text">Enjoy complete peace of mind with warranty plans up to 12 months to protect your car against unforeseen repairs</p>
              <a href="#" class="btn btn-primary">Know More</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="/requirements/2.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">7-Day Return</h3>
              <p class="card-text">Love it, keep it. Changed your mind? Return it within 7 days for a full refund</p><br>
              <a href="#" class="btn btn-primary">Know More</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="/requirements/3.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Easy Financing Options</h3>
              <p class="card-text">Become eligible for Zero Down Payment via EMIs of up to 72 months and instant loans.</p><br>
              <a href="#" class="btn btn-primary">Know More</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="/requirements/4.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">140-Quality Checks</h3>
              <p class="card-text">Inspected across 140 parameters and refurbished by auto-experts, our cars are ready for the road</p>
              <a href="#" class="btn btn-primary">Know More</a>
            </div>
          </div>
</div><br><br><br>

<h1 class="heading">Buy in 3 easy steps</h1>
<div class="easy_steps">
    <div class="horizontal">
        <div>
            <img class="img" src="/requirements/1.1.webp" alt="">
        </div>
        <div>
            <p><h3 class="steps-buy">Find the perfect car </h3></p>
            <p class="x">Seamlessly browse thousands of MRL Certified cars</p>
        </div>
    </div>
    <div class="horizontal">
        <div>
            <img  class = "img" src="/requirements/1.2.webp" alt="">
        </div> 
        <div>
            <p><h3 class="steps-buy">Test Drive at home or at CARS24 hub</h3></p>
            <p class="x">Enjoy the convenience of a home test drive or visit a CARS24 hub for free</p>
        </div>
    </div>
    <div class="horizontal">
        <div>
            <img class="img" src="/requirements/1.3.webp" alt="">
        </div>
        <div>
            <p><h3 class="steps-buy">Buy it your way</h3></p>
            <p class="x">You can pay in full or have it financed, the choice is yours</p>
        </div>
    </div>
</div><br><br>


<div class="footer">
    <div class="left"> <h3><u>KEEP IN TOUCH</u></h3>
    <div class="icons">
    <div class="LINKS"> <img src="/requirements/insta.svg" alt=""></div>
    <div class="LINKS"> <img src="/requirements/lin.svg" alt=""></div>
    <div class="LINKS"> <img src="/requirements/x.svg" alt=""></div>
    <div class="LINKS"> <img src="/requirements/yt.svg" alt=""></div></div>
    <p>EXPERIENCE CARS24 APP ON MOBILE</p>
    <p>POWERED BY CARS24</p>
    <div class="stores">
        <div class="store"><img src="/requirements/appstore.webp" alt=""></div>
        <div class="store"><img src="/requirements/googlrplay.webp" alt=""></div>
    </div>
</div>


    <div class="middle"><h3><u>USEFUL LINKS</u></h3>
        <p>Contact Us| Security |Motor insurance <br>
            About Us |Privacy Policy| Terms and Conditions| FAQ <br>
            Testimonials| Blog| We're Hiring!| Become Our Partner  <br> 
            RC Transfer Status |CARS24 Finance <br>
            Investors |Explore New Cars|Need a Loan</p>
    </div>


    <div class="right">
        <h3><u>OTHER GEOGRAPHIES</u></h3>
        <p>UAE |Thailand |Australia</p>
    </div>
</div>
</div>
</body>
</html>
