<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HONDA</title>
    <link rel="icon" href="/requirements/logo.webp">
    <link rel="stylesheet" href="/CSS_FILES/honda.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <div class = "nav_bar">
        <div class="logo">
            <img class="logoimg"   src="/requirements/logo.webp" alt="logo">
        </div>

        <div class="location">
            <span class="material-symbols-outlined">
                location_on </span> <b>Bangalore</b>
        </div>

        <div class="nav_option">
            <button class="buy"> Buy car</button>
            <button class="sell"> Sell car</button>
        </div>
        <div class="account"> <span class="material-symbols-outlined">
            account_circle
            </span> <b> &nbsp;&nbsp;&nbsp;&nbsp; Account </b>
        </div>
    </div>


    <div class="honda">
        <br><br>
        <h1 class="heading"> 6 USED HONDA CARS IN BANGALORE</h1>
    <div class="first3">
    <div class="card" style="width: 18rem;">
        <img src="/requirements/h1.webp" class="card-img-top" alt="...">
        <div class="card-body">
         <div><h3>2012 Honda City
            1.5L I-VTE V </h3></div>
         <div><p>petrol | manual |
            60,298 KM</p></div>
         <div><p>2nd owoner</p></div>
         <div><h2>₹4.43 Lakh</h2></div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/requirements/h2.webp" class="card-img-top" alt="...">
        <div class="card-body">
         <div><h3>2019 Honda City
            1.5L I-DTE V</h3></div>
         <div><p>DIESEL| manual |
            1,60,298 KM</p></div>
         <div><p>1st owoner</p></div>
         <div><h2>₹9.50 Lakh</h2></div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/requirements/h3.webp" class="card-img-top" alt="...">
        <div class="card-body">
         <div><h3>2017 Honda BR-V
            1.5L I-VTEC SManual</h3></div>
         <div><p>petrol | manual |
            28,297 KM</p></div>
         <div><p>3rd owoner</p></div>
         <div><h2>₹6.41 Lakh</h2></div>
        </div>
      </div>
      </div>
      <br>
      <div class="last3">
      <div class="card" style="width: 18rem;">
        <img src="/requirements/h4.webp" class="card-img-top" alt="...">
        <div class="card-body">
         <div><h3>2019 Honda Amaze
            1.2L I-VTEC V CVTAutomatic</h3></div>
         <div><p>DIESEL | Automatic |
            19,495 KM</p></div>
         <div><p>1st owoner</p></div>
         <div><h2>₹6.18 Lakh</h2></div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/requirements/h5.webp" class="card-img-top" alt="...">
        <div class="card-body">
         <div><h3>2012 Honda City
            1.5L I-VTEC CORPORATE MTManual</h3></div>
         <div><p>petrol | manual |
            1,80,000 KM</p></div>
         <div><p>2nd owoner</p></div>
         <div><h2>₹3.93 Lakh</h2></div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/requirements/h6.webp" class="card-img-top" alt="...">
        <div class="card-body">
         <div><h3>2017 Honda WR-V
            1.2L I-VTEC VX MTManual</h3></div>
         <div><p>petrol | manual |
            40,298 KM</p></div>
         <div><p>2nd owoner</p></div>
         <div><h2>₹7.29 Lakh</h2></div>
        </div>
    </div>
      </div>
    </div>
</div>